{%extends "base.html"%}

{%block title%}index{%endblock%}
{%block page_content%}
    <div class = container>
        <h1>欢迎您, {{username}}!</h1>
        <h3>欢迎使用投票系统</h3>
        <a class = "btn btn-primary" href={{url_for("voteHomepage")}}>投票</a>
        <a class = "btn btn-primary" href={{url_for("creatTheme")}}>新建主题</a>
        <a class = "btn btn-primary" href={{url_for("creatCand")}}>新建选项</a>
    </div>
<br>
<div class = container>
    <a class = "btn btn-dark" href = {{url_for("logout")}}>登出</a>
</div>


{%endblock%}